<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="logo" src="assets/img/logoP.png">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <div class="p-col-12">
        <button pButton type="submit" label="Cadastre-se" class="p-button-raised p-button-rounded"></button>
        <button pButton type="button" label="Acessar o Sistema" class="p-button-raised p-button-rounded" ></button>
             </div>
    </ul>
  </div>
</nav>
