<div class="container-fluid">

  <div class="p-d-inline-flex"></div>

  <div class="row">
    <div class="col-sm-3">

      <div class="card" style="width: 23rem;">

        <div class="card-body">

          <div class="alert alert-success" role="alert">
            <h5 class="card-title">Bem Vindo!</h5>
          </div>

          <div class="alert alert-secondary" role="alert">
            <p class="card-text">Este será o seu primeiro passo para uma parceria para transformar os processos da sua
              clinica. Após o cadastro vamos entrar em contato para uma apresentação do nosso projeto.</p>
          </div>


        </div>
      </div>


  <div class="p-d-inline-flex"></div>

      <div class="card" style="width: 23rem; height: 15.8rem;">

        <div class="card-body">
            <div class="alert alert-warning" role="alert">
            <h4>Process in Sys</h4>
          </div>


          <div class="card-body">
            <p class="card-text">E-mail : diretoria@processinsys.com.br</p>
            <p class="card-text">Contato : (21) 99528-9288</p>
          </div>



        </div>

      </div>
      <div class="p-d-inline-flex"></div>

    </div>

    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">

          <form autocomplete="off">

            <div class=" titulo alert alert-primary" role="alert">
              <h3>Cadastro de Empresas</h3>
            </div>

            <form>

              <div class="form-row">
                <div class="col-lg-3 col-sm-12">
                  <label>Tipo Pessoa</label>
                  <p-dropdown [options]=" tipopessoas" optionLabel="label"></p-dropdown>



                </div>
              </div>

              <div class="form-row">
                <div class="col-lg-3 col-sm-12">
                  <label>Registro Fiscal</label>
                  <input pInputText type="text" class="form-control" >
                </div>

                <div class="col-lg-5 col-sm-12">
                  <label>Razão Social</label>
                  <input pInputText type="text" class="form-control" >
                </div>

                <div class="col-lg-4 col-sm-12">
                  <label>Nome Fantasia</label>
                  <input pInputText type="text" class="form-control" >
                </div>

              </div>

              <div class="form-row">
                <div class="col-lg-2 col-sm-12">
                  <label>CEP</label>
                  <input pInputText type="text" class="form-control">
                </div>

                <div class="col-lg-6 col-sm-12">
                  <label>Logradouro</label>
                  <input pInputText type="text" class="form-control">
                </div>

                <div class="col-lg-1 col-sm-12">
                  <label>Número</label>
                  <input pInputText type="text" class="form-control">
                </div>


                <div class="col-lg-3 col-sm-12">
                  <label>Complemento</label>
                  <input pInputText type="text" class="form-control">
                </div>

              </div>

              <div class="form-row">
                <div class="col-lg-5 col-sm-12">
                  <label>Bairro</label>
                  <input pInputText type="text" class="form-control">
                </div>

                <div class="col-lg-5 col-sm-12">
                  <label>Cidade</label>
                  <input pInputText type="text" class="form-control">
                </div>

                <div class="col-lg-2 col-sm-12">
                  <label>UF</label>
                  <input pInputText type="text" class="form-control">
                </div>
              </div>


              <div class="form-row">
                <div class="col-lg-3 col-sm-12">
                  <label>Telefone</label>
                  <input pInputText type="text" class="form-control">
                </div>

                <div class="col-lg-3 col-sm-12">
                  <label>Celular</label>
                  <input pInputText type="text" class="form-control">
                </div>

                <div class="col-lg-6 col-sm-12">
                  <label>E-mail</label>
                  <input pInputText type="text" class="form-control">
                </div>
              </div>

              <div class="p-col-12">
                <button pButton type="submit" label="Salvar" class="p-button-raised p-button-rounded"></button>
              </div>
            </form>




          </form>




        </div>
      </div>
    </div>
  </div>





</div>

