/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.p-button {
  margin-right: .25em
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
